.notifications{
  width: 100%;
  min-height: 30px;
  background-color: rgb(171, 168, 168);
  border: 2px solid rgb(14, 227, 14);
  color: rgb(14, 227, 14);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.isError{
  border: 2px solid rgb(236, 89, 21);
  color: rgb(236, 89, 21);
}
.blog-style{
  text-indent: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 2px;
  border: 1px solid black;
  border-width: 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.blog-btn{
  width: 50px;
  margin-left: 15px;
}

